.hsm {}

.hsm__scroller {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}