.hsm {
    position: relative;

    &:before,
    &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        transition: opacity 100ms;
        pointer-events: none;
        z-index: 1;
    }

    &:before {
        left: 0;
        background-image: linear-gradient(to right, #fff 0%, transparent 100%);
    }

    &:after {
        right: 0;
        background-image: linear-gradient(to left, #fff 0%, transparent 100%);
    }

    &[data-overflow-direction="right"] {
        &:before {
            opacity: 0;
        }
    }


    &[data-overflow-direction="left"] {
        &:after {
            opacity: 0;
        }
    }

    &[data-overflow-direction="none"] {
        &:before,
        &:after {
            opacity: 0;
        }
    }
}

.hsm__scroller {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.hsm__navbutton {
    display: block;
    border-width: 0;
    outline: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    z-index: 2;
    transition: opacity 200ms;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(./img/arrow.svg);
    background-size: contain;
    background-color: transparent;

    &--left {
        left: 10px;
        transform: rotate(-180deg);

        .hsm[data-overflow-direction="right"] &,
        .hsm[data-overflow-direction="none"] & {
            opacity: 0;
        }
    }

    &--right {
        right: 10px;

        .hsm[data-overflow-direction="left"] &,
        .hsm[data-overflow-direction="none"] & {
            opacity: 0;
        }
    }
}