.menu {
    float: left;
    font-size: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.menu__item {
    display: inline-block;
    margin-right: 10px;
    user-select: none;
}

.menu__link {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    user-select: none;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 24px;
    color: #fff;
    border-radius: 30px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    background: $tertiery;
}
