@import './colors';

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-image: url(./img/asanoha-400px.png);
    font-family: PT Sans, sans-serif;
    padding: 15px;
    color: $secondary;
}

.page-wrapper {
    max-width: 960px;
    margin: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    color: $primary;
    text-shadow: 1px 1px 1px rgba(255,255,255, 1), 0px 0px 1px rgba(0, 0, 0, 1);
}

@import './components/example/example';
@import './components/hsm/hsm';
@import './components/menu/menu';
