*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, sans-serif;
    padding: 15px;
}

.page-wrapper {
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-top: 100px;
}

.hsm {
    margin-top: 50px;
}

@import './components/hsm/hsm';
@import './components/menu/menu';
